.App {
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#length-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 7px solid #13353a;
  width: 270px;
  height: 170px;
  border-radius: 50px;
}

